<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body h6{
    font-size: 20px;
    font-weight: 500;
}

/* Nvaigation section starts */
.navigation{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    align-items: center;
    background-color: #fff;
}
.nav-phone, .nav-email, .nav-location{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.navigation i{
    color: #ff6d34;
    font-size: 25px;
    border: 1px solid #ff6d34;
    padding: 22px 25px;
    border-radius: 50%;
    background-color: #f9f9f9;
    border: none;
}
.navigation a p{
    color: rgb(170, 165, 165);
    font-size: 18px;
    font-weight: 500;
}
.navigation a p:hover{
    color: #ff6d34;
}
.navigation a:hover{
    text-decoration: none;
}
.navigation p{
    color: rgb(170, 165, 165);
    font-size: 18px;
    font-weight: 500;
}
.nav-location p:hover{
    color: #ff6d34;
}
.nav-pages{
    display: flex;
    gap: 3rem;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
.nav-pages li{
    list-style: none;
}
.nav-pages li a{
    color: #000;
}
.nav-pages li a:hover{
    text-decoration: none;
    color: #ff6d34;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    background: #f9f9f9;
    margin: 0 150px;
    padding: 20px 0;
}
.hamburger{
    display: none !important;
}
.nav-sublinks li{
    padding: 6px 140px 6px 15px;
    border-bottom: 1px solid rgb(107, 103, 103);
}
.nav-sublinks{
    position: absolute;
    z-index: 3;
}
.nav-sublinks{
    border: 1px solid rgb(252, 244, 244);
    margin-top: 20px;
    border-top: 2px solid #ff6d34; 
    transform: translateY(-500px);
    transition: all 0.6s;
}
.nav-services:hover .nav-sublinks{
   transform: translateY(0px);
   transition: all 0.6s;
}
.nav-section {
    position: absolute;
    z-index: 2;
    width: 1340px;
    top: 140px;
}
/* Naviagtion section ends */

/*  Carousel section starts */
.carousel-item img{
    height: 100vh;

}
/*  Carousel section ends */
=======
body
{
	background-image: url("/Assets/form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#body_header
{

	width:auto;
	margin:0px auto;
	text-align:center;
	font-size:25px;
}

h3 {
  margin: 0 0 30px 0;
  text-align: center;
  color: aliceblue;
}
p{
    font-size: 20px;
    color: aliceblue;
}
/* #appointment_for{
    margin-bottom: 1rem;
}
#appointment_description{
    margin: 1rem 0;
} */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: 1px solid #e8eeef;
  border-radius: 10px;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
#appointment_for{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

input[type="radio"],
input[type="checkbox"]

{
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border: 1px solid #e8eeef;
  border-radius: 10px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4b9e64;
  font-size: 26px;
  text-align: center;
  font-style: normal;
  border: 1px solid #4b9e64;
  border-radius: 10px;
  width: 100%;
  /* border: 1px solid #3ac162; */
  /* border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset; */
  margin: auto;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  color: antiquewhite !important;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #4b9e64;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.Form-section{
    display: flex;
    justify-content: space-around;
}

.form1, .form2{
    max-width: 400px;
}
form {
    max-width: 1000px;
  margin: auto;
  padding: 10px 20px;
  background: #2d2e2e;
  border-radius: 8px;
  background-color: rgba#272626 0.05;
  border: 1px solid rgb(59, 59, 59);
  opacity: 0.7;
}
label{
    color: antiquewhite;
}
>>>>>>> ddfbb87e5571a52c3cbdcd5095412eaf3b4836d4
